<div class="content">
  
  <h1>Migrating to 5.0.0</h1>
  
  <section>
    <p class="wide">
      Note, currently 5.0.0 is released as 5.0.0.rc1-SNAPSHOT. To use it, add
      <a href="https://stackoverflow.com/a/7717234/441662">OSS' snapshots repo</a> to your maven settings.
    </p>
  </section>
  
  <section class="toc">
    <ul>
      <li><a simplePageScroll href="#section-builders">Builders all the way down</a></li>
      <li><a simplePageScroll href="#section-why-builders">Why builders?</a></li>
      <li><a simplePageScroll href="#section-what-changed">So what API changed?</a></li>
      <li><a simplePageScroll href="#section-conditional-config">Conditional config?</a></li>
    </ul>
  </section>
  
  <a href="#section-builders" id="section-builders" class="section-link h2">&sect;</a>
  <h2>Builders all the way down</h2>
  
  <section>
    <p class="wide">
      With all the possible ways to configure Email and Mailer instances, the library had only one option left to streamline API, avoid the
      <a href="http://codethataint.com/blog/telescoping-constructor-pattern-java/">Telescoping Constructor</a> anti-pattern and keep things
      managable: <a href="https://martinfowler.com/bliki/FluentInterface.html">fluent builders</a>.
    </p>
  </section>
  
  <a href="#section-why-builders" id="section-why-builders" class="section-link h2">&sect;</a>
  <h2>Why builders?</h2>
  
  <section>
    <div class="wide">
      <ol class="indent">
        <li>With fluent builders, we can tightly control <strong>valid combinations</strong>, logical <strong>decision paths</strong> and easily <strong>provide
          alternative methods</strong>.
        </li>
        <li>At the same time we can move all the mutation logic to the builders and produce mostly <strong>immutable objects</strong>.</li>
        <li>Finally, we're now able to <strong>centralize our documentation</strong> around the builders and refer to it from wherever it is used.</li>
      </ol>
    </div>
  </section>
  
  <a href="#section-what-changed" id="section-what-changed" class="section-link h2">&sect;</a>
  <h2>So what API changed?</h2>
  
  <section>
    <div class="view">
      <p>All the constructors and mutation methods of <code class="inline">Mailer</code> have been replaced by the
        <code class="inline">MailerBuilder</code>.<br/>
        Similarly, all the constructors and mutation methods of <code class="inline">Email</code> have been replaced by the
        <code class="inline">EmailBuilder</code>.</p>
    </div>
    <div class="side">
      <pre><code>// So instead of:
Email email = new Email();
email.setFromAddress(...)

// you start with EmailBuilder instead:
Email email = EmailBuilder.startingFromBlank()
        .from(...)
        .buildEmail();
      </code></pre>
      <pre><code>// And instead of:
Mailer mailer = new Mailer(/*...many options...*/);
mailer.setDebug(true);

// you start with MailerBuilder instead:
Mailer mailer = MailerBuilder.
        //.manyOptions()
        .withDebugLogging(true)
        .buildMailer();
      </code></pre>
    </div>
  </section>
  
  <section>
    <div class="view">
      <p>
        Furthermore all the reading methods on Mailer have been consolidated into <strong>parameter
        objects</strong> and made available where previously not yet disclosed.
      </p>
    </div>
    <div class="side">
      <pre><code>// For example, to read out the thread pool size:
Mailer mailer = ...;
int poolsize = mailer.getOperationalConfig().getThreadPoolSize();
</code></pre>
      The following information is available to you now:
      <pre><code>email.getAnythingYouCanSetWithABuilder();

mailer.getSession(); // the only mutable object
mailer.getTransportStrategy();
mailer.getServerConfig();
mailer.getProxyConfig();
mailer.getOperationalConfig();
mailer.getEmailAddressCriteria();
</code></pre>
    </div>
  </section>
  
  <a href="#section-conditional-config" id="section-conditional-config" class="section-link h2">&sect;</a>
  <h2>Conditional configuration</h2>
  
  <section>
    <div class="view">
      <p>Here's a simple example of conditional configuration using builders</p>
    </div>
    <div class="side">
      <pre><code class="small">MailerRegularBuilder builder = MailerBuilder.withSMTPServer("smtp.host.com", 25);

if (yourCondition) {{ '{' }}
    builder.withSMTPServerPort(26);
    builder.withTransportModeLoggingOnly(false);
{{ '}' }}

Mailer mailer = builder.buildMailer();
</code></pre>
    </div>
  </section>
</div>
