image: maven:latest

variables:
  MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository/
    - target/

build:
  stage: build
  script:
    - mvn $MAVEN_CLI_OPTS test-compile

test:
  stage: test
  script:
    - mvn $MAVEN_CLI_OPTS verify -DexcludeLiveServerTests=true -Dmaven.javadoc.skip=true