/.idea
/maven-master-project.iml
/target
/modules/jacoco-aggregator-module/target
/modules/jacoco-aggregator-module/*.iml
/modules/cli-module/src/main/resources/cli.data
/modules/cli-module/src/main/resources/therapi.data
*.iml
*.log
