<div class="content">

  <h1>Project dependencies</h1>

  <section>
    <p class="wide">
      Simple Java Mail can be used without any external libraries, but a few features require additional dependencies.
    </p>
  </section>

  <h2>CLI support</h2>

  <section>
    <p>
      To enable CLI support, include the following module:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;cli-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
  </section>
  
  <h2>DKIM support</h2>
  
  <section>
    <p>
      To enable support for DKIM signing (see <a [routerLink]="['/features']" simplePageScroll href="#section-dkim">Features</a>),
      include the following library:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;dkim-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
  </section>
  
  <h2>Outlook support</h2>
  
  <section>
    <p>
      To enable support for parsing Outlook messages (see <a [routerLink]="['/features']" simplePageScroll href="#section-generate-converting">Features</a>),
      include the following library:
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;outlook-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
  </section>
  
  <h2>Spring support</h2>
  
  <section>
    <p>
      To enable support for Spring (see <a [routerLink]="['/configuration']" simplePageScroll href="#section-spring-support">Configuration</a>),
      make sure the following libraries can be found on the classpath (in most cases will be there anyway):
    </p>
    <pre><code class="language-xml">&lt;dependency&gt;
    &lt;groupId&gt;org.simplejavamail&lt;/groupId&gt;
    &lt;artifactId&gt;spring-module&lt;/artifactId&gt;
&lt;/dependency&gt;</code></pre>
  </section>
  
</div>
