<div class="content">

  <h3>Simple Java Mail: Simple API, Complex Emails</h3>

  <section>

    <div class="view">
      <br/>
      <p>Simple Java Mail is a mailing library with a super <strong>clean API</strong>. It's the easiest to
        use Java mailing library in the world.</p>
      <br/>
      <p>This library relieves you of having to deal with low level API such as MimeMessage, fuzzy try
        catch constructions, inner classes and other nonsense. You just want to send an email!</p>
      <br/>
      <p>But don't let looks deceive you, this library does everything: it is a <strong>feature complete</strong>
        mailing library, yet it is <strong>small</strong> and <strong>lightweight</strong>. It is fully <strong><a
          simplePageScroll [routerLink]="['/rfc']" href="#navigation">RFC compliant</a></strong> and looks good in all
        email clients.</p>
      <br/>
      <p>It's also the only java mailing library in the world that can send through authenticated SOCKS proxy.</p>
    </div>

    <div class="side">
<pre><code class="small">// All essentials together:

ConfigLoader.loadProperties("simplejavamail.properties"); // optional default
ConfigLoader.loadProperties("overrides.properties"); // optional extra

Email email = new Email();

email.addRecipient("lollypop", "lolly.pop@somemail.com", RecipientType.TO);
email.addRecipient("C. Cane", "candycane@candyshop.org", RecipientType.TO);
email.addRecipient("C. Bo", "chocobo@candyshop.org", RecipientType.CC);
email.addRecipients("Tasting Group", "taster1@cgroup.org;taster2@cgroup.org;tester &lt;taster3@cgroup.org&gt;", RecipientType.BCC);
email.addRecipients("Mr Sweetnose &lt;snose@candyshop.org&gt;", RecipientType.BCC);

email.setReplyToAddress("lollypop", "lolly.pop@othermail.com");
email.setSubject("hey");
email.setText("We should meet up! ;)");
email.setTextHTML("&lt;img src=&#39;cid:wink1&#39;&gt;&lt;b&gt;We should meet up!&lt;/b&gt;&lt;img src=&#39;cid:wink2&#39;&gt;");
email.addEmbeddedImage("wink1", imageByteArray, "image/png");
email.addEmbeddedImage("wink2", imageDatesource);
email.addAttachment("invitation", pdfByteArray, "application/pdf");
email.addAttachment("dresscode", odfDatasource);

email.signWithDomainKey(privateKeyData, "somemail.com", "selector");

new Mailer(
		new ServerConfig("smtp.host.com", 587, "user@host.com", "password"),
		TransportStrategy.SMTP_TLS,
		new ProxyConfig("socksproxy.host.com", 1080, "proxy user", "proxy password")
).sendMail(email);
</code></pre>
    </div>
  </section>


  <a href="#section-getting-started" id="section-getting-started" class="section-link h2">&sect;</a>
  <h2>Getting started</h2>

  <section>
    <div class="view">
      <p>Simple Java Mail is a thin layer on top of Oracle's SMTP JavaMail API. For logging purposes, SLF4J is used so
        you can use whatever
        logging framework you prefer.</p>
      <p>Once the dependencies are set up, simply copy the above examples and start mailing!</p>
      <p class="button-group">
        <a class="button" [routerLink]="['/features']" simplePageScroll href="#navigation">Show Examples</a>
        <a class="button" href="http://www.javadoc.io/doc/org.simplejavamail/simple-java-mail">API
          Javadoc</a>
      </p>
    </div>
  </section>
</div>
