<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="current date-%d LEVEL-%-5p Thread-[%t]
            Method-%M() Class name-%C Message-%m%n"/>
        </Console>
    </Appenders>
    <loggers>
        <Logger name="org.codemonkey.simplejavamail" level="all"/>
        <root level="all">
            <appender-ref ref="STDOUT"/>
        </root>
    </loggers>
    <loggers>
        <Logger name="sockslib.*" level="all"/>
        <root level="all">
            <appender-ref ref="STDOUT"/>
        </root>
    </loggers>
</Configuration>