<div class="content">

  <h1>Simple Java Mail is fully RFC compliant</h1>

  <section class="toc">
    <ul>
      <li><a simplePageScroll href="#section-why">Why RFC compliancy matters</a></li>
      <li><a simplePageScroll href="#section-how">How is Simple Java Mail RFC compliant?</a></li>
    </ul>
  </section>

  <a href="#section-why" id="section-why" class="section-link h2">&sect;</a>
  <h2>Why RFC compliancy matters</h2>

  <section>
    <div class="view">
      <p>
        One thing that plagues other smaller libraries is the lack of true RFC compliance. Though fine for simple mails,
        this becomes a testing nightmare if for example you need to send an HTML mail (with text fall-back?) using both
        attachment and embedded images.
      </p>
      <p>
        The problem becomes evident when testing the mail in various e-mail clients (desktop, web based, mobile) by the
        fact that the e-mails will be displayed completely inconsistent and sporadic. Symptoms include:
      </p>
      <ul class="indent paragraph">
        <li>not seeing embedded images, or</li>
        <li>icon for attachment is shown while there are no attachments, or</li>
        <li>embedded images are displayed as attachments,</li>
        <li>not seeing the HTML version if a text version is present,</li>
        <li>not seeing the text version if a HTML version is present,</li>
        <li>not seeing attachments,</li>
        <li>attachments aren't handled correctly according to mime type, or</li>
        <li>header information is missing or incorrect so you can't see how long a download will take,</li>
        <li>from/to addresses being malformed (like missing the<code class="inline">&lt;name&gt;</code> part in <code
          class="inline">&lt;name&gt; adres@domain.com</code>)
        </li>
      </ul>

      <p>The research has been done and Simple Java Mail is RFC compliant for simple to complex mails. Furthermore, it
        has been tested in a range of known clients such as Outlook, Thunderbird, Gmail, Hotmail, Android, iPhone
        etc.</p>
    </div>
  </section>
  
  
  <a href="#section-how" id="section-how" class="section-link h2">&sect;</a>
  <h2>How is Simple Java Mail RFC compliant?</h2>
  
  <section>
    <div class="view">
      <p>Simple Java Mail is in two ways <a href="https://en.wikipedia.org/wiki/MIME">RFC (MIME) compliant</a>:</p>
      <ol class="indent paragraph">
        <li>It is built on top of <a href="https://java.net/projects/javamail/pages/Home">JavaMail</a>, which is java's
          standard email library used by all other mail libraries. JavaMail itself implements various RFC's (including
          those for SMTP, POP3, IMAP etc).
        </li>
        <li>What makes Simple Java Mail unique is that it combines all the RFC's implemented by JavaMail in the correct
          way that works in all email clients. Where all other popular mailing libraries let you figure out the low
          level details of this through MimeMessage, BodyPart, MimeMultipart etc. as described in the individual RFC's,
          Simple Java Mail takes care of this for you and hides all this behind a super clean API. Now you can focus on
          the content of the email, rather than email's technical low level structure.
        </li>
      </ol>
    </div>
  </section>
</div>
