<div class="content">

  <h1>Simple Java Mail Features</h1>

  <section class="introduction">
    <p class="wide">
      Creating and sending emails is very simple with Simple Java Mail; you don't need to know about the mailing RFC, MimeMessage or any other low
      level <code class="inline">javax.mail</code> API. No anonymous inner classes needed and no <a
      href="http://docs.spring.io/spring/docs/current/spring-framework-reference/html/mail.html">large frameworks</a> needed nor XML.
    </p>

    <p class="wide">
      On top of that, Simple Java Mail will do some basic validation checks so that your email is always populated with enough data. It even verifies
      email addresses against <a href="https://tools.ietf.org/html/rfc2822">RFC-2822</a> using the only complete <a
      href="https://github.com/bbottema/email-rfc2822-validator">rfc2822 validator in java</a> in the world.
    </p>
  </section>

  <section class="toc">
    <ul>
      <li><a href="#section-basic-usage">Basic usage</a></li>
      <li><a href="#section-custom-session">Sending with your own Session instance</a></li>
      <li><a href="#section-ssl-tls">Sending with SSL and TLS</a></li>
      <li><a href="#section-gmail">SSL and TLS with Google mail</a></li>
      <li><a href="#section-attachments">Adding attachments</a></li>
      <li><a href="#section-embedding">Embedding images</a></li>
      <li><a href="#section-custom-headers">Setting custom headers</a></li>
      <li><a href="#section-custom-properties">Setting custom properties on the internal Session</a></li>
      <li><a href="#section-session-access">Direct access to the internal Session</a></li>
      <li><a href="#section-dkim">Signing emails with DKIM</a></li>
      <li><a href="#section-email-validation">Validating Email Addresses</a></li>
      <li><a href="#section-generate-mimemessage">Generating a MimeMessage from an Email</a></li>
      <li><a href="#section-parse-mimemessage">Generating an Email from a MimeMessage</a></li>
    </ul>
  </section>

  <a href="#section-basic-usage" id="section-basic-usage" class="section-link">&sect;</a>
  <h2>Basic usage</h2>

  <section>
    <div class="view">
      <p>
        Simply create an <code class="inline">Email</code>, populate it with your data, create a <code class="inline">Mailer</code> and send the Email
        instance. The mailer can be created with your own <code class="inline">Session</code> instance as well (<a href="#section-custom-session">see
        below</a>).
      </p>
    </div>

    <div class="side">
<pre><code>Email email = new Email();

email.setFromAddress("Michel Baker", "m.baker@mbakery.com");
email.addRecipient("mom", "jean.baker@hotmail.com", RecipientType.TO);
email.addRecipient("dad", "StevenOakly1963@hotmail.com", RecipientType.TO);
email.setSubject("My Bakery is finally open!");
email.setText("Mom, Dad. We did the opening ceremony of our bakery!!!");

new Mailer("server", "25", "username", "password").sendMail(email);
</code></pre>
    </div>
  </section>


  <a href="#section-builder-api" id="section-builder-api" class="section-link">&sect;</a>
  <h3>Using the fluent API with the Builder pattern</h3>

  <section>
    <div class="view">
      <p>
        The previous example becomes even more succinct by using the fluent API.
      </p>
    </div>

    <div class="side">
<pre><code>Email email = new Email.Builder()
    .from("Michel Baker", "m.baker@mbakery.com")
    .to("mom", "jean.baker@hotmail.com")
    .to("dad", "StevenOakly1963@hotmail.com")
    .subject("My Bakery is finally open!")
    .text("Mom, Dad. We did the opening ceremony of our bakery!!!")
    .build();

new Mailer("server", "25", "username", "password").sendMail(email);
</code></pre>
    </div>
  </section>


  <a href="#section-custom-session" id="section-custom-session" class="section-link">&sect;</a>
  <h2>Sending with your own Session instance</h2>

  <section>
    <div class="view">
      <p>
        If you prefer to use your own preconfigured <code class="inline">Session</code> instance, you can!
      </p>
    </div>

    <div class="side">
<pre><code>Email email = new Email();
...

new Mailer(yourSession).sendMail(email);
</code></pre>
    </div>
  </section>


  <a href="#section-ssl-tls" id="section-ssl-tls" class="section-link">&sect;</a>
  <h2>Sending with SSL and TLS</h2>

  <section>
    <div class="view">
      <p>
        Activating SSL or TLS is super easy. Just use the appropriate <code class="inline">TransportStrategy</code> enum.
      </p>
    </div>

    <div class="side">
<pre><code>Email email = new Email();

new Mailer().sendMail(email, TransportStrategy.SMTP_PLAIN); // default if omitted
new Mailer().sendMail(email, TransportStrategy.SMTP_SSL);
new Mailer().sendMail(email, TransportStrategy.SMTP_TLS);
</code></pre>
    </div>
  </section>


  <a href="#section-gmail" id="section-gmail" class="section-link">&sect;</a>
  <h3>SSL and TLS with Google mail</h3>

  <section>
    <div class="view">
      <p>
        Here's an example of SSL and TLS using gMail.
      </p>
      <p>
        If you have two-factor login turned on, you need to generate an <a href="https://security.google.com/settings/security/apppasswords">application
        specific password</a> from your Google account.
      </p>
    </div>

    <div class="side">
<pre><code>new Mailer("smtp.gmail.com", 25, "your user", "your password", TransportStrategy.SMTP_TLS).sendMail(email);
new Mailer("smtp.gmail.com", 587, "your user", "your password", TransportStrategy.SMTP_TLS).sendMail(email);
new Mailer("smtp.gmail.com", 465, "your user", "your password", TransportStrategy.SMTP_SSL).sendMail(email);
</code></pre>
    </div>
  </section>


  <a href="#section-attachments" id="section-attachments" class="section-link">&sect;</a>
  <h2>Adding attachments</h2>

  <section>
    <div class="view">
      <p>
        You can add attachments very easily, but you'll have to provide the data yourself. Simple Java Mail accepts <code class="inline">byte[]</code>
        and <code class="inline">DataSource</code> objects.
      </p>
    </div>

    <div class="side">
<pre><code>Email email = new Email();

email.addAttachment("dresscode.txt", new ByteArrayDataSource("Black Tie Optional", "text/plain"));
email.addAttachment("location.txt", "On the moon!".getBytes(Charset.defaultCharset()), "text/plain");

// ofcourse it can be anything: a pdf, doc, image, csv or anything else

email.addAttachment("invitation.pdf", new FileDataSource("invitation_v8.3.pdf"));
</code></pre>
    </div>
  </section>


  <a href="#section-embedding" id="section-embedding" class="section-link">&sect;</a>
  <h2>Embedding images</h2>

  <section>
    <div class="view">
      <p>
        Embedding images is simple, but you have to add the placeholders in the HTML yourself.
      </p>
    </div>

    <div class="side">
<pre><code>Email email = new Email();

email.addEmbeddedImage("smiley", new FileDataSource("smiley.jpg"));
// this example is included in the demo package in MailTestApp.java
String base64String = "iVBORw0KGgoAAAANSUhEUgAAA ...snip";
email.addEmbeddedImage("thumbsup", parseBase64Binary(base64String), "image/png");

// the corresponding HTML should contain the placeholders
&lt;p&gt;Let&#39;s go!&lt;/p&gt;&lt;img src=&#39;cid:thumbsup&#39;&gt;&lt;br/&gt;
&lt;p&gt;Smile!&lt;/p&gt;&lt;img src=&#39;cid:smiley&#39;&gt;
</code></pre>
    </div>
  </section>


  <a href="#section-custom-headers" id="section-custom-headers" class="section-link">&sect;</a>
  <h2>Setting custom headers</h2>

  <section>
    <div class="view">
      <p>
        Sometimes you need extra headers in your email because your email server, recipient server or your email client needs it. Or perhaps you have
        a proxy or monitoring setup in between mail servers. Whatever the case, adding headers is easy.
      </p>
    </div>

    <div class="side">
<pre><code>Email email = new Email();

email.addHeader("X-Priority", 2);
email.addHeader("X-MC-GoogleAnalyticsCampaign", "halloween_sale");
email.addHeader("X-MEETUP-RECIP-ID", "71415272");
email.addHeader("X-my-custom-header", "foo");
</code></pre>
    </div>
  </section>


  <a href="#section-custom-properties" id="section-custom-properties" class="section-link">&sect;</a>
  <h2>Setting custom properties on the internal Session</h2>

  <section>
    <div class="view">
      <p>
        In case you need to modify the internal Session object itself, because you need a tailored configuration that is supported by the underlying
        <code class="inline">javax.mail</code>, that too is very easy.
      </p>
    </div>

    <div class="side">
<pre><code>Properties props = new Properties();
props.setProperty("mail.smtp.timeout", 30 * 1000);
props.setProperty("mail.smtp.connectiontimeout", 10 * 1000);

Mailer mailer = new Mailer();
mailer.applyProperties(props);
</code></pre>
    </div>
  </section>


  <a href="#section-session-access" id="section-session-access" class="section-link">&sect;</a>
  <h2>Direct access to the internal Session</h2>

  <section>
    <div class="view">
      <p>
        For emergencies, you can also get a hold of the internal Session instance itself. You should never need this however and if you do it means
        Simple Java Mail failed to simplify the configuration process for you. Please let us know how we can help alleviate this need.
      </p>
    </div>

    <div class="side">
<pre><code>Mailer mailer = new Mailer();

Session session = mailer.getSession();
// do your thing with session
</code></pre>
    </div>
  </section>


  <a href="#section-dkim" id="section-dkim" class="section-link">&sect;</a>
  <h2>Signing emails with DKIM</h2>

  <section>
    <div class="view">
      <p>
        Simple Java Mail also supports signing with <a href="http://blog.endpoint.com/2014/04/spf-dkim-and-dmarc-brief-explanation.html">DKIM</a>
        domain keys. It uses <a href="https://github.com/markenwerk/java-utils-mail-dkim">java-utils-mail-dkim</a> (dependency packaged along) to
        perform the DNS DKIM record check on the given domain.
      </p>
    </div>

    <div class="side">
<pre><code>Email signedEmail = new Email();

signedEmail.signWithDomainKey(
   privateKey byte[] / File / InputStream,
   "your_domain.org",
   "your_selector");

new Mailer().sendMail(signedEmail);
</code></pre>
    </div>
  </section>


  <a href="#section-email-validation" id="section-email-validation" class="section-link">&sect;</a>
  <h2>Validating Email Addresses</h2>

  <section>
    <div class="view">
      <p>
        Simple Java Mail can validate your email addresses. It's not just a simple regex check, but a complete and robust full validation against <a
        href="https://tools.ietf.org/html/rfc2822">RFC-2822</a>. It does this by including <a
        href="https://github.com/bbottema/email-rfc2822-validator">email-rfc2822-validator</a> in the library.
      </p>
    </div>

    <div class="side">
<pre><code>EmailAddressValidator.isValid("your_address@domain.com",
   EmailAddressCriteria.RFC_COMPLIANT);

// or, fine-tuned to be less strict:
EmailAddressValidator.isValid("your_address@domain.com",
   of(ALLOW_QUOTED_IDENTIFIERS, ALLOW_PARENS_IN_LOCALPART));
</code></pre>
    </div>
  </section>


  <a href="#section-generate-mimemessage" id="section-generate-mimemessage" class="section-link">&sect;</a>
  <h2>Generating a MimeMessage from an Email</h2>

  <section>
    <div class="view">
      <p>
        If, for some reason, you need a MimeMessage, you can still benefit from the easy API Simple Java Mail offers. Behold.
      </p>
    </div>

    <div class="side">
<pre><code>Email email = new Email()
// populate email

MimeMessage message = Mailer.produceMimeMessage(email, yourSession);
// in future also: new Mailer(...).produceMimeMessage(email);
</code></pre>
    </div>
  </section>


  <a href="#section-parse-mimemessage" id="section-parse-mimemessage" class="section-link">&sect;</a>
  <h2>Generating an Email from a MimeMessage</h2>

  <section>
    <div class="view">
      <p>
        If you already have a MimeMessage, you can easily convert it into a ready-to-use Email instance, complete with embedded images and attachment
        intact.
      </p>
    </div>

    <div class="side">
<pre><code>MimeMessage mimeMessage = ...;
Email email = new Email(mimeMessage);

new Mailer().sendMail(email);
</code></pre>
    </div>
  </section>

</div>
