<div class="content">

  <h1>Contact</h1>


  <h2>Get help, request features, post bugs</h2>

  <section>
    <div class="view">
      <p>Simple Java Mail is a pretty robust library and there's currently nothing on the roadmap. Please suggest anything you can think of!</p>

      <p>The <a href="https://github.com/bbottema/simple-java-mail/"><strong>Simple Java Mail GitHub repository</strong></a> and the <a
        href="https://github.com/bbottema/simple-java-mail/issues"><strong>issue tracker</strong></a> are used to discuss feature requests and issues.
      </p>

      <p>If you need more general help, you'll usually get an answer by posting a question on <a
        href="http://stackoverflow.com/questions/tagged/simple-java-mail">StackOverflow.</a>. You can always post an issue in the issue tracker and we
        will look into it</p>
    </div>
  </section>


  <h2>Contact information</h2>

  <section>
    <div class="view">
      <p>
        You can find more about me on <a href="http://www.bennybottema.com">bennybottema.com</a>
        You'll find me on Twitter: <a href="https://twitter.com/LeonGersen">@LeonGersen</a>.
      <a href="https://twitter.com/intent/tweet?screen_name=LeonGersen" class="twitter-mention-button">Tweet to @LeonGersen</a>
    </div>
  </section>


  <h2>More from me</h2>

  <section>

    <div class="view">
      <p>Besides noUiSlider, I've written more on tech-related subjects, ranging from PHP to Embedded subjects. Give <a
        href="http://refreshless.com/blog/">my blog</a> a try if you are interested!</p>
    </div>
  </section>
</div>
