<div class="content">

  <h1>Getting and setting slider values</h1>


  <a href="#section-reading" id="section-reading" class="section-link">&sect;</a>
  <h2>Reading slider values</h2>

  <section>

    <div class="view">

      <p>noUiSlider has an API with two simple methods: <code>.get()</code> and <code>.set()</code>. To get the current slider value:</p>


<pre><code>slider.noUiSlider.get();
</code></pre>
      <p>For one-handle sliders, calling <code>.get()</code> will return the value. For two-handle sliders, an <code>array[value, value]</code>
        will be returned.</p>
    </div>
  </section>


  <a href="#section-setting" id="section-setting" class="section-link">&sect;</a>
  <h2>Setting slider values</h2>

  <section>

    <div class="view">

      <p>noUiSlider will keep your values within the slider range, which saves you a bunch of validation.</p>

      <p>If you have configured the slider to use one handle, you can change the current value by passing a number to the <code>.set()</code>
        method. If you have two handles, pass an array. One-handled sliders will also accept arrays.</p>

      <p>Within an array, you can set one position to <code>null</code> if you want to leave a handle unchanged.</p>
    </div>

    <div class="side">

<pre><code>var slider = document.getElementById('slider');

noUiSlider.create(slider, /* { options } */);

// Set one .noUiSlider.setue
slider.noUiSlider.set(10);
slider.noUiSlider.set([150]);

// Set the upper handle,
// don't change the lower one.
slider.noUiSlider.set([null, 14]);

// Set both slider handles
slider.noUiSlider.set([13.2, 15.7]);
</code></pre>
    </div>
  </section>


  <a href="#section-example" id="section-example" class="section-link">&sect;</a>
  <h2>Example</h2>

  <section>

    <div class="view">

      <p>Clicking the button below sets the slider, which uses a <code>range</code> from <code>0</code> to <code>100</code>, to <code>20</code>.
      </p>

      <div class="example">
        <div id="slider"></div>
        <div class="logger">
          <button id="write-button">Set to 20</button>
          <button id="read-button">Read slider value</button>
        </div>

        <script>
          var slider = document.getElementById('slider');

          noUiSlider.create(slider, {
            start: [80],
            range: {
              'min': [0],
              'max': [100]
            }
          });
        </script>
        <script>
          // Set the slider value to 20
          document.getElementById('write-button').addEventListener('click', function () {
            slider.noUiSlider.set(20);
          });

          // Read the slider value.
          document.getElementById('read-button').addEventListener('click', function () {
            alert(slider.noUiSlider.get());
          });
        </script>
      </div>
    </div>

    <div class="side">

<pre><code>var slider = document.getElementById('slider');

noUiSlider.create(slider, {
	start: [ 80 ],
	range: {
		'min': [   0 ],
		'max': [ 100 ]
	}
});
</code></pre>
      <div class="viewer-header">Handling button presses</div>

      <div class="viewer-content">

<pre><code>// Set the slider value to 20
document.getElementById('write-button').addEventListener('click', function(){
	slider.noUiSlider.set( 20 );
});

// Read the slider value.
document.getElementById('read-button').addEventListener('click', function(){
	alert( slider.noUiSlider.get() );
});
</code></pre>
      </div>
    </div>

  </section>


  <a href="#section-formatting" id="section-formatting" class="section-link">&sect;</a>
  <h2>Number formatting</h2>

  <section>

    <div class="view">

      <p>To format the slider output, noUiSlider offers a <code>format</code> option. Simply specify <code>to</code> and <code>from</code>
        functions to encode and decode the values. See <em>manual formatting</em> to the right for usage information.</p>

      <p>By default, noUiSlider will format output with <strong>2 decimals</strong>.</p>

      <p>Manual formatting can be very tedious, so noUiSlider has support for <a href="http://refreshless.com/wnumb">the wNumb formatting
        library</a>. wNumb offers a wide range of options and provides number validation.</p>

      <div class="example">
        <div id="slider-format"></div>
        <input id="input-format">

        <script>
          var sliderFormat = document.getElementById('slider-format');

          noUiSlider.create(sliderFormat, {
            start: [20000],
            step: 1000,
            range: {
              'min': [20000],
              'max': [80000]
            },
            format: wNumb({
              decimals: 3,
              thousand: '.',
              postfix: ' (US $)',
            })
          });
        </script>
        <script>
          var inputFormat = document.getElementById('input-format');

          sliderFormat.noUiSlider.on('update', function (values, handle) {
            inputFormat.value = values[handle];
          });

          inputFormat.addEventListener('change', function () {
            sliderFormat.noUiSlider.set(this.value);
          });
        </script>
      </div>

    </div>

    <div class="side">

      <div class="viewer-header">Formatting with wNumb</div>

      <div class="viewer-content">

<pre><code>var sliderFormat = document.getElementById('slider-format');

noUiSlider.create(sliderFormat, {
	start: [ 20000 ],
	step: 1000,
	range: {
		'min': [ 20000 ],
		'max': [ 80000 ]
	},
	format: wNumb({
		decimals: 3,
		thousand: '.',
		postfix: ' (US $)',
	})
});
</code></pre>
      </div>

      <div class="viewer-header">Manual formatting</div>

      <div class="viewer-content">

<pre><code>var sliderFormat = document.getElementById('slider-format');

noUiSlider.create(sliderFormat, {
	start: [ 20 ],
	step: 10,
	range: {
		'min': [ 20 ],
		'max': [ 80 ]
	},
	format: {
	  to: function ( value ) {
		return value + ',-';
	  },
	  from: function ( value ) {
		return value.replace(',-', '');
	  }
	}
});
</code></pre>
      </div>

      <div class="viewer-header">Linking the input field</div>

      <div class="viewer-content">

<pre><code>var inputFormat = document.getElementById('input-format');

sliderFormat.noUiSlider.on('update', function( values, handle ) {
	inputFormat.value = values[handle];
});

inputFormat.addEventListener('change', function(){
	sliderFormat.noUiSlider.set(this.value);
});
</code></pre>
      </div>
    </div>

  </section>
</div>

<script>

  var headers = document.getElementsByClassName('viewer-header');

  for (var i = 0; i < headers.length; i++) {
    headers[i].addEventListener('click', function () {
      this.classList.toggle('open');
    });
  }

</script>

<script src="../documentation/assets/prism.js"></script>

<script>

  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-1399522-2', 'auto');
  ga('send', 'pageview');

  function trackLink(href, category, action) {

    ga('send', 'event', category, action);

    setTimeout(function () {
      document.location = href;
    }, 100);

    return false;
  }

  var hits = document.querySelectorAll('[data-category]');

  for (var i = 0; i < hits.length; i++) {
    hits[i].addEventListener('click', function () {
      return trackLink(this.getAttribute('href'), this.getAttribute('data-category'), this.getAttribute('data-action'));
    });
  }

</script>
