class Sjm < Formula
  desc "Simple Java Mail command-line interface"
  homepage "https://www.simplejavamail.org/"
  url "@RELEASE_ARCHIVE_URL@"
  sha256 "@RELEASE_ARCHIVE_SHA256@"
  license "Apache-2.0"
  version "@VERSION@"

  depends_on "openjdk@21"

  def install
    libexec.install Dir["*"]
    java_env = Language::Java.overridable_java_home_env("21")
    (bin/"sjm").write_env_script libexec/"bin/sjm", java_env
  end

  test do
    assert_match "Simple Java Mail daemon commands", shell_output("#{bin}/sjm daemon --help")
  end
end
